.usuarios-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-usuario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: 20px 0;
    font-size: 1.3rem;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
}

.usuario-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.card-usuario-item {
    display: flex;
    flex-wrap: wrap;
    background-color: rebeccapurple;
    padding: 10px;
    width: 30%;
}

.item-linha {
    padding:  5px 0;
}

.btn-usuarios-area {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 20px;
}

.btn-usuarios {
    cursor: pointer;
    font-size: 1rem;
    margin: 0 10px;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}
    
.confirma-deletar-area {
    position: fixed;
    background-color: rgba(108, 122, 137, .7);
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    height: 100vh;
}


.confirma-deletar {
    background-color: white;
    border: 5px solid black;
    padding: 20px;
    opacity: 2;
}

.escondido {
    display: none;
}
