nav.filtro-vicio {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 30px;

    width: 14%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    color: white;
    background-color: #8C9FA2;
}

.titulo-filtro {
    font-size: 1.875rem;
}

.list-filtro-vicio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.filtro-vicio-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: D9D9D9;
    border: 1px solid black;
    border-radius: 3px;
}

.marcado::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 2px;
}