.relatos-area {
    width: 85.18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 1.25rem;
    padding-inline: 3.125rem;
}

.card-cria-relato {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.foto-perfil {
    width: 10%;
    padding: 3px;
}

.foto-perfil img {
    width: 100%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}

.campo-texo {
    display: flex;
    flex-direction: column;
    width: 88%;
    padding-top: 1.25rem;
    background-color: #D9D9D9;
    border-radius: .625rem;
}

.campo-texo textarea {
    border: none;
    font-size: 1.125rem;
    padding: 0 1.875rem;
    width: 100%;    
    background-color: transparent;
}

.campo-texo textarea:focus {
    outline: none;
}

.parte-inferior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: .75rem;
    padding: 5px 1.875rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.escolhas-relato ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.escolhas-relato ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;

}

.escolhas-relato img {
    transform: scale(.65);
}

.escolhas-relato ul li {
    position: relative;
}

.card-escolha-relato {
    position: absolute;
    top: 100%;
    left: -50%;
    display: flex;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .8);
    border-radius: 10px;
    z-index: 1;
}

.card-escolha-relato ul {
    display: flex;
    flex-direction: column;
    height: 150px;
    gap: 5px;
    overflow: auto;
}

.card-escolha-relato ul::-webkit-scrollbar {
    width: 7px;
}

.card-escolha-relato ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.card-escolha-relato li {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px 10px;
}

input[type=checkbox] {
    cursor: pointer;
}

#icone-anonimo label {
    text-align: center;
}

.esconde {
    display: none;
}


.btn-publicar {
    cursor: pointer;
    padding: .5rem 2rem;
    font-size: 0.75rem;
    text-decoration: none;
    color: white;
    background-color: #3B615E;
    border-radius: 5px;
    border: none;
}
/* --------------------------------------------------- */

.card-relato {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: .625rem;
}

.foto-perfil-relato {
    top: -8%;
    left: -4%;
    position: absolute;
    width: 8%;
}

.foto-perfil-relato img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
}

.header-relato, .conteudo-relato, .footer-relato{
    padding: 5px 0;
    padding-inline: 40px 20px;
}

.header-relato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding-top: 10px;
}

.header-relato .uptext {
    display: flex;
    justify-content: space-between;
}

.identificacao-relato, .sobre-vicios {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: .75rem;
}

.identificacao-relato p, .sobre-vicios p {
    padding: 3px 5px;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border: 2px solid rgba(0, 0, 0, .8);
    border-radius: 5px;
}

.sobre-vicios p {
    margin: .2rem 0;
    margin-right: 10px;
    background-color: red;
}

.conteudo-relato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.data-cidade-relato {
    display: flex;
    justify-content: end;
    gap: 5px;
    font-size: .75rem;
    color: rgba(0, 0, 0, .6);
}

.footer-relato {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: .75rem;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.upvote-area {
    display: flex;
    align-items: end;
}

.upvote-area p {
    margin-right: .3rem;
    font-weight: 600;
}

.upvote, .upvote-interno  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

.upvote::before, .upvote-interno::before {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid;
}

.upvote::after, .upvote-interno::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 8px solid;
}

.upvote-interno {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: white;
}

.upvote-interno:hover {
    color: #C7924D;
}

.upvote-interno::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid;
}

.upvote-interno::after {
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 8px solid;
}
